<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <h1>Who is grumpy cat</h1>
            <article>
                Everyone loved her. She hated everyone. Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quos a est!
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quos a est!
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quos a est!
            </article>
        <h2>Who am I</h2>
        <article>
            Random chick liking the internetz and catz.
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Minus quos a est! Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
        </article>
        <footer>
                <a href="./gallery.html">gallery</a>
                <a href="./index.html">back home</a>
        </footer>
    </body>
    </html>