<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    </head>
    <body>
        <h1>
            R.I.P. <br> GRUMPY CAT
        </h1>
        <div id="main-image">
            <img src="images/cat1.jpg" alt="">
        </div>
        <aside>
            <p>You are missed. We'll always remember you. NOT.</p>
        </aside>
        <div id="carousel-images">
             <img src="../images/cat2.jpg" alt="" class="show">
            <img src="../images/cat8.jpg" alt="" class="show">
        </div>
        <footer>
            <a href="./gallery.html">see more pictures</a>
            <a href="./about.html">about</a>
        </footer>
    </body>
</html>