<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eric Clapton</title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>

  <body>
    <nav>
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/gallery'>Gallery</a>
    </nav>
    <section class="container homepage">
      <h1>Biography</h1>
      <img id="hero" src="/images/claptonhero.jpg" alt="Eric standing with guitar">
      <div class="biography">


      <p><b>Eric Patrick Clapton</b> was born on 30 March 1945 in his grandparents’ home at 1 The Green, Ripley, Surrey, England. He was the son of 16-year-old Patricia Molly Clapton (b. 7 January 1929, d. March 1999) and Edward Walter Fryer (b. 21 March 1920, d. 1985), a 24-year-old Canadian soldier stationed in England during World War II. Before Eric was born, Fryer returned to his wife in Canada.</p>

      <p>It was extraordinarily difficult for an unmarried 16-year-old to raise a child on her own in the mid-1940s. Pat’s parents, Rose and Jack Clapp, stepped in as surrogate parents and raised Eric as their own. Thus, he grew up believing his mother was his sister. His grandparents never legally adopted him, but remained his legal guardians until 1963. Eric’s last name comes from Rose’s first husband and Pat’s father, Reginald Cecil Clapton (d. 1933).</p>

      <p>Eric’s mother, Pat, eventually married and moved to Canada and Germany as her husband, Frank MacDonald, continued his military career. They had two girls and a boy. Eric’s half-brother, Brian, was killed in a road accident in 1974 at the age of 26. His half-sisters are Cheryl (b. May 1953) and Heather (b. September 1958).</p>

      <p>Eric was raised in a musical household. His grandmother played piano and his uncle and mother both enjoyed listening to the sounds of the big bands. Pat later told Eric’s official biographer, Ray Coleman, that his father was a gifted musician, playing piano in several dance bands in the Surrey area.</p>

      </div>
     


    </section>
    <footer>
        © 2019  Eric Clapton
    </footer>
  </body>
</html>
