<!DOCTYPE html>
<html>
<head>
	<title>Tea</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body>
	<nav>
		<ul>
			<li><a href = "/">Home</a></li>
            <li><a href = "/about">About</a></li>
            <li><a href = "/mytea">MyTea</a></li>
		</ul>
	</nav>
​
	<header class="landing">
		<div class="description">
			<h1 class="greenTea">Le thé vert c'est tres vert !</h1>
		</div>
​
​
		<div class="greenTeaAndPicture">
			<div class="greenTeaDescription">
					Le thé vert est un thé faiblement oxydé très apprécié en Asie. Son nom : thé vert vient à la fois de la couleur de ses feuilles et de la couleur de son infusion.
Le thé vert est le premier type de thé à avoir été manufacturé, les autres types de thés (Thés blancs, thés noirs, Pu Er et Oolong) sont plus récents.
Le thé vert est de loin le thé le plus consommé en Chine. 
			</div>
			
			<div class= "greenTeaPic">
				<img src="/images/thevert.jpg" alt="thé vert" class="greenTeaPicture"/>
			</div>
		</div>
​
		<h1>Le thé noir, c'est super noir !</h1>
​
		<div class="blackTeaAndPicture">
			<div class="blackTeaPic">
				<img src="/images/thenoir.jpg" alt="thé noir" class="blackTeaPicture"/>
			</div>
​
			<div class="blackTeaDescription">
				<p>
				Le thé noir est indissociable de l’Angleterre où la tradition du thé de 5 heures a largement contribué à sa popularité. 
				Très vite, les anglais ont préféré ce thé plus robuste et plus fort en goût que le thé vert et ainsi contribué à 
				son développement et à son succès international. Le thé noir est aujourd’hui  
				une boisson populaire mais dont l’hégémonie est de plus en plus contestée par les autres “couleurs” de thé.
				présent des ambassades anglaises à la Cour, c'était alors une boisson rare réservée au Sultan et aux notables.
				</p>	
			</div>
​
			</div>
​
    </header>
</body>
</html> 