<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta charset="utf-8">
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div id="header">
        <a href="/"><img src="/image/logo.png"/></a>
        <h1>About</h1>
    </div>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam tempora exercitationem ipsa quidem nobis veniam assumenda sint quisquam eligendi, beatae a inventore, ipsam minima repellat deleniti. Praesentium eaque et ipsam.
    </p>
    
  </body>
</html>