<!doctype html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Afropunk About </title>
      <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <nav>
            <ul>
            <li><a href="/homepage">Homepage</a> </li>
            <li> <a href="/gallery">Gallery</a></li>
            </ul>
            </nav>

      <header class="aboutheader">
      <div class="aboutimg">
      <p>img</p>
      </div>
      </header>
      <section class="aboutsection">
          <h1>VIVEZ LA MUSIQUE</h1>
          <p>Venez à Paris vivre la musique, vous libérer l’esprit, et rejoindre le mouvement, profiter d’une programmation incroyable mêlant des icônes et des talents émergents.
            <br>
        Come to AFROPUNK Paris 2019 to feel the music, free your mind, and join the movement, enjoy an incredible lineup of groundbreaking icons and emerging talents.</p>
      </section>
    </body>

  </html>