<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="/css/levels.css">
  <script src="/views/levels.js"></script>
</head>
<body>
    <div class="question">
        <p>1. The HTML canvas element is used to:</p>
        <label>
          <input type="radio" name="answers[1]" value="A">
          create draggable elements

        </label>
      
        <label>
          <input type="radio" name="answers[1]" value="B" data-correct>
          draw graphics
        </label>
      
        <label>
          <input type="radio" name="answers[1]" value="C">
          manipulate data in MySQL
          </label>
      </div>
      
    
      
      <button id="quiz-submit">Submit</button>
      
      <div>
        Score: <span id="score">0</span>
      </div>
</body>
</html>