<!DOCTYPE html>
<html>
<head>
	<title>Tea</title>
	<link rel="stylesheet" type="text/css" href="/style.css"/>
</head>
<body class="homePage">
	<nav>
		<ul>
			<li><a href = "/">Home</a></li>
            <li><a href = "/about">About</a></li>
            <li><a href = "/mytea">MyTea</a></li>
		</ul>
	</nav>
	​
	<header class="landing">
		<div class="description">
			<h1 class="wanted">On veut du thé !</h1>
	</header>
		</div>

			<p class ="subtitle">Découvre les joies du thé<br/>Le thé c'est génial</p>
​
		<div class = "teaAndPicture">
			<div class = "teaDescription">
				Le thé est une boisson aromatique préparée en infusant des feuilles séchées de théier, un arbuste à feuilles persistantes 
				originaire des piémonts orientaux de l'Himalaya (Assam, Yunnan, nord du Myanmar et de la Thaïlande).
				Il y est consommé depuis l'Antiquité, puis s'est étendu au Japon et au monde arabe au ixe siècle et à l'Europe au xvie siècle.
				
				Le thé est au xxe siècle la boisson la plus bue au monde après l'eau.
				Il peut prendre des formes très diverses, procurant une vaste gamme de boissons aromatiques, gustatives ou désaltérantes, 
				obtenues par infusion ou percolation d'eau sur diverses préparations à partir des petites feuilles et des bourgeons du théier.
				
				Ces diverses boissons aqueuses peuvent être obtenues à partir de feuilles simplement séchées ou diversement fermentées. 
				Selon les traditions, les portions liquides sont bues chaudes, tièdes ou froides, en quantités très variables, diluées, faiblement ou fortement concentrées, 
				et parfois additionnées de diverses matières d'origine végétale ou animale. L'importante variété de thés existant au monde s'explique par le grand nombre de terroirs,
				 de cultivars, de modes de culture ainsi que par les traitements subis après la récolte. 
				 Ces facteurs déterminent le goût et la qualité du thé produit. Les thés obtenus sont différenciées par leur « couleur » : noirs, verts, Oolong, jaunes, blancs et post-fermentés.
				
				Riche en épigallocatéchine, en gallate d'épigallocatéchine, en théanine et en caféine, 
				le thé est à la fois recherché pour son goût, ses vertus énergisantes et relaxantes ainsi que pour ses effets positifs sur la santé dans le cas du thé vert.	
			</div>
			
			<div class="teaPic">
				<img src="/images/théphoto.jpg" alt="tasse de thé" class="teaPicture"/>
			</div>
		</div>
​
		<h1>Une autre Histoire</h1>
​
		<div class ="teaAndPictureMaroc">
			<div class="teaPicMaroc">
				<img src="/images/themaroc.jpg" alt="tasse de thé au maroc" class="teaPictureMaroc"/>
			</div>
​
			<div class="teaDescriptionMaroc">
				<p>
				La consommation du thé  au Maghreb laisse penser que la richesse des traditions 
				liées à cet usage a des origines très anciennes dans la région, mais rappelons que le thé est apparu en Chine il y a près de 5.000 ans. 
				Sous la dynastie des Hans, il était une boisson réservée à la Cour : il fallait attendre des siècles pour qu'il se généralise comme boisson
				populaire et qu’il soit commercialisé dans le monde entier.		
				</p>
					
				<p>
				C'est un commerçant arabe du nom de Soulayman, d’ailleurs, qui aurait le premier parlé du thé dès le IXe siècle,
				le décrivant comme étant « une herbe qui a plus de feuilles que le trèfle, un peu plus de parfum aussi, mais fort amer…».
				Quatre cents ans plus tard, Marco Polo faisait mention du thé en tant que produit de commerce courant en Chine. 
				Il devient un enjeu économique au fur et à mesure de sa diffusion à travers l'Europe et au-delà, dans le vaste empire britannique.
				Au cours du règne du Sultan Moulay Ismaïl, le thé fait son entrée au Maroc : 
				en tant que présent des ambassades anglaises à la Cour, c'était alors une boisson rare réservée au Sultan et aux notables.
				</p>	
			</div>
​
			</div>
​
</body>  
</html>