<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>La Reine d'Angleterre</h1>
    <h2>Elisabeth II</h2>

    <div class="photoHP">
     <img class="memeTaille" src="./images/reineJeune.jpg" alt="reine jeune">
     <img class="memeTaille" src="./images/reineAgee.jpg" alt="reine agée">
    </div>

    <div class="liens">
     <a href="/about">See About Page</a>
     <a href="/photo-gallery">See Photo Gallery Page</a>
    </div>

  </body>
</html>