<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
        <div class="container">
                <div class="content">
                  <h2>WHICH IRONHACK DEVELOPER YOU ARE?</h2>
                  <p>Digital Challenge</p>
                </div>
                <div class="boxes">
                  <div class="box">
                    <div class="box_icon">
                    <i class="rounds"> <input type="submit" value="" 
                      onclick="window.location='/shark';" />

                    </button></i> 
                    </div>
                    <h4>Shark Developer </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab voluptate totam, velit ducimus quo corporis soluta itaque voluptatem nobis porro nesciunt id nisi, nostrum molestiae rerum magni nihil neque quod?</p>
                  </div>
                  <div class="box">
                    <div class="box_icon">
                      <i class="rounds"> <input type="submit" value="" 
                        onclick="window.location='/fox';" />
                    </div>
                    <h4>Fox Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio error cupiditate ab dolorem saepe obcaecati, mollitia beatae incidunt quas sunt iure nesciunt veritatis natus, inventore soluta? Ullam dicta voluptatum sequi.</p>
                  </div>
                  <div class="box">
                    <div class="box_icon">
                      <i class="rounds"><input type="submit" value="" 
                        onclick="window.location='/fox';" /></i>
                    </div>
                    <h4>Chick Developer</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi explicabo dolores commodi necessitatibus perferendis sint ut libero, aut quibusdam, perspiciatis unde quisquam corporis? Eius, possimus mollitia dolor necessitatibus obcaecati fuga!</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
    
</body>
</html>