<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>StarWars</title>
</head>
<body>
    <header>
        <h1>StarWars</h1>
    </header>
    <nav>
        <a href="/">
            <img src="/images/home.png" alt="">
        </a>
        <a href="/about">
            <img src="/images/about.png" alt="">
        </a>
        <a href="/photo">
            <img src="/images/camera.png" alt="">
        </a>
    </nav>
    <section class="personnage">
        <img src="/images/chewbacca.jpg" alt="">
        <p>“Chewbacca drunk for his firts Red Carpet in Cannes”</p>
    </section>
    <section class="personnage">
        <img src="/images/princess.jpg" alt="">
        <p>Princess Leia joins the Republican Party and promotes laser weapons</p>
    </section>
</body>
</html>