<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
        <div class="container">
                <div class="content">
                  <h2>WHICH KIND OF IRONHACK DEVELOPER ARE YOU?</h2>
                  <p>Digital Challenge</p>
                </div>
                <div class="boxes">
                  <div class="box">
                    <div class="box_icon">
                    <i class="rounds"> <input type="submit" value="" 
                      onclick="window.location='/shark';" />

                    </button></i> 
                    </div>
                    <h4>Shark Developer </h4>
                    <p>
                        <img src="https://cdn0.iconfinder.com/data/icons/shark/154/shark-move-512.png"/>
                    </p>
                  </div>
                  <div class="box">
                    <div class="box_icon">
                      <i class="rounds"> <input type="submit" value="" 
                        onclick="window.location='/fox';" />
                      </button></i> 

                    </div>
                    <h4>Fox Developer</h4>
                    <p> <img src="https://cdn4.iconfinder.com/data/icons/origami-paper-animals-solid/100/origamisolid-07-512.png"/>   
                    </p>
                  </div>
                  <div class="box">
                    <div class="box_icon">
                      <i class="rounds"><input type="submit" value="" 
                        onclick="window.location='/chick';" /></i>
                    </div>
                    <h4>Chick Developer</h4>
                    <p> 
                      <img src="https://cdn3.iconfinder.com/data/icons/easter-celebration/60/Chick_hatching-512.png"/>
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
</body>
</html>