<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Tea</title>
  <link rel="stylesheet" type="text/css" href="/style.css"/>
​  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
​
<body>
    <nav>
        <ul>
            <li><a href = "/">Home</a></li>
            <li><a href = "/about">About</a></li>
            <li><a href = "/mytea">MyTea</a></li>
        </ul>
    </nav>
        ​
    <!-- Kinds of tea -->
    ​<section id = "section1">
      <div class="myTeas">
          <h2>Discover all our best brands</h2>
      </div>
      <div class="myTeaspictures"> 
        <div class="mariageFreres">
          <img src="images/mariage-freres.jpg" alt="mariage freres image"/>
          <h3>Miariage Frères</h3>
          <p>Origin : Rusia </p>
          <p>Price 100g : 12€ </p>
          
        </div>
        <div class="dammannFreres">
            <img src="dammann-freres.jpeg" alt="dammann image"/>
            <h3>Damman Frères</h3>
            <p>Origin : Nepal </p>
            <p>Price 100g : 15€ </p>
        </div>
      </div>
    </section>
    <section id = "section2">
        <div class="myTeaspictures"> 
          <div class="kusmeaTea">
            <img src="images/KusmeaTea.jpg" alt="kusmea image"/>
            <h3>Kushen Tea</h3>
            <p>Origin : Rusia </p>
            <p>Price 100g : 12€ </p>
          </div>
          <div class="twinningsTea">
              <img src="images/high-quality-icon.png" alt="sound image"/>
              <h3>Twinnings Tea</h3>
              <p>Origin : Nepal </p>
              <p>Price 100g : 15€ </p>
          </div>
        </div>
      </section>
</body>
</html>